.header
	background-color: #588f27
	position: fixed
	z-index: 99 
	width: 100%
	max-width: 1600px 
	.logo
		float: left
		margin-right: 3.5em
		+r(1400)
			margin-right: 10px

.logo
	display: inline-block
	margin: 0.64em 0
	&__img
		max-height: 100%
		max-width: 100% 
	+r(998)
		transform: scale(0.75)
		margin: 0 0.5em 
	+r(500)
		margin: -10px -15px 
		transform: scale(0.5)
.navigation-trigger
	display: none
	width: auto
	height: auto
	padding: 0 1em
	margin-top: 13px 
	margin-left: 25px 
	float: left
	line-height: 2.44em 
	height: 48px
		// background-color: #db5a31 
		// border: 3px solid #DB5A31 
		// border-radius: 7px
		// padding: 0.5em 1em
	+r(998)
		display: inline-block
	+r(500)
		margin-top: 8px 
		height: 40px 
		line-height: 20px 
	+r(450)
		margin-right: 70px 
		float: right
		
.navigation
	display: inline-block
	color: #f7e967
	text-transform: uppercase
	margin-top: 2.40em
	+clr
	&__item
		display: inline-block
		+r(1200)
		float: left
	&__link
		text-decoration: none
		color: #f7e967
		display: block
		padding: 0 0.65em 
		+r(1325)
			padding: 0 0.25em 
		+r(1200)
			padding: 0.5em 
		&:hover
			color: #fff
			text-decoration: none
	+r(1200)
		width: 60% 
		margin-top: 1em
	+r(998)
		display: none		
		position: absolute
		top: 75px 
		left: 0 
		text-align: center 
		width: 100% 
		margin: 0 
		&__item
			float: none
			display: block
			background: $main-color
			border-bottom: 2px solid #588f27
		&__link
			padding: 1em 
			font-weight: bold
	+r(500)
		top: 55px 
.callback
	// display: none
	position: absolute
	color: #ffffff
	top: 15px
	right: 1%
	text-align: center
	text-transform: uppercase
	font-weight: 600
	transition: 0.5s
	+r(1175)
		top: 5px 
		right: 15px 
	&__number
		color: #FFF 
		font-size: 30px
		+css-lock(16,30,480,1600)
		text-decoration: none
		+rmin(999)
			display: block
		&:hover
			color: #FFF 
		+r(998)
			display: none
	&__button
		display: block
		font-size: 18px 
		+css-lock(15,18,480,1600)
		margin: 0.5em 0
		line-height: em(44,18)
		+r(1325)
			padding: 0 0.5em
			width: auto
			height: auto
			svg
				width: 1.5em
				height: 1.5em
		+r(850)
			svg
				width: 1.3em
				height: 1.3em
		+r(500)
			margin: 0
			top: 3px 
			height: 40px  
			line-height: 2 
			svg
				position: relative
				top: 3px
	&__img
		display: block
		position: relative
		height: em(315,18)
		background: url(../img/construction-img.png)
		border-radius: 7px
		border: 6px solid rgba(255, 255, 255, 0.5)
		+r(1175)
			display: none
	&__text

		font-size: 18px
		+css-lock(15,18,480,1600)
		position: absolute
		bottom: 0 
		left: 0
		right: 0
		width: 100%
		height: em(63,18)
		line-height: em(63,18)
		background-color: #04bfbf
	&.is-scrolled
		top: 0
		.callback__img
			display: none

.icon-talking
	position: relative
	top: 6px 
	margin-right: 6px 
	fill: #fff
	width: 1.7em 
	height: 1.7em 
	transition: 0.3s

.for-desktop
	+r(450)
		display: none
.for-mobile
	+rmin(450)
		display: none
