.main-plan
	// position: relative
	+css-lock(14, 18, 480, 1600)
	max-height: em(938,18)
	// width: 100% 
	// background-color: #547032
	// background-image: url(../img/mainplan.jpg) 
	// background-repeat: no-repeat
	// background-size: 100%
	// background-position: 50% 
	// +cover
	img
		max-width: 100%
		max-height: 100%  
.footnote
	position: relative
	display: inline-block
	padding: 0.5em 0.75em
	background-color: #f7921e
	color: #ffffff
	font-size: 18px
	font-weight: 400
	line-height: 20px
	&:before
		content: ""
		display: inline-block
		position: absolute
		top: 100%
		left: 0  
		border: 22px solid #f7921e
		border-top-width: 16px
		border-bottom-width: 0 
		border-left-color: transparent
		border-right-color: transparent
