.pop-up
	color: #FFF 
	display: none
	position: fixed
	z-index: 99999999
	padding: 20px 0 
	top: 0 
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.8)
	&__block
		font-size: 18px 
		+css-lock(18,24,480,960)
		padding: 3em 0
		max-height: 700px
	&__slider
		position: relative
		max-width: 1312px
		height: 700px
		max-height: 700px 
		margin: 1em auto
		background-color: #FFF 
		div
			margin: 0 auto
			position: relative
		img
			max-width: 100%
			max-height: 100%
		.slick-prev, .slick-next 
			top: 50%
			margin-top: -10px
			border: 60px solid #a9cf54
			border-top: 35px solid transparent
			border-bottom: 35px solid transparent
			border-left-width: 0
			outline: none
			transition: 0.3s
			&:hover
				filter: hue-rotate(-45deg)
		.slick-next
			border-left-width: 60px
			border-right-width: 0
		+r(1550)
			width: 85% 
			height: 100%
			.slick-prev 
				left: -66px
			.slick-next
				right: -66px
		+r(1025)
			width: 100% 
			
		.slick-dots
			top: 104%
			li 
				&.slick-active button
					color: #a9cf54
					text-decoration: underline
				button
					text-align: center
					font-size: 24px
					+css-lock(18,24,480,960)
					line-height: em(20,24)
					text-transform: uppercase
					color: #FFF 
					&:before
						display: none
					&:hover
						color: #a9cf54
						text-decoration: none
	&__slide
		// max-height: 90% 
	&__close
		position: absolute
		right: 10%
		top: 3%
		display: block
		width: 37px
		height: 37px
		background-color: #FFF 
		&:before
			content: ""
			+vcenter
			+s(close)
		+r(360)
			top: 10px
			right: 10px

@media only screen and (orientation: landscape) and (max-height: 420px)
	.pop-up
		&__block
			padding: 0
			.title-h2
			 display: none
		&__slider
			margin: 0 
			max-height: 95%
			max-width: 100%   
		&__close
			position: absolute
			top: 0
			right: 0
			z-index: 999 
			+scale(0.7)