---
title: Forest-land
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# variable example #}
	{# <h1>{{title}}</h1> #}

	
	{# partial example #}
	{% include "partials/_header.html" %}
	{% include "partials/_main.html" %}
	{% include "partials/_about.html" %}
	{% include "partials/_benefits.html" %}
	{% include "partials/_location.html" %}
	{% include "partials/_master-plan.html" %}
	{% include "partials/_about-builder.html" %}
	{% include "partials/_transfer.html" %}
	{% include "partials/_contacts.html" %}

	{# mixin example #}
	{# {{mixins.icon('facebook')}} #}


	{# data usage example #}
{# 		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %} #}
	{# end of example #}

{% endblock %}
