<!-- BEGIN about-complex primary -->
<div id="about-complex" class="about-complex primary">
  <!-- BEGIN wrapper -->
  <div class="wrapper">
    <h2 class="title-h2">О жилоМ комплексЕ</h2>
    <!-- BEGIN primary__text -->
    <div class="primary__text">
      <div class="primary__text_left">Мы определили своим главным потребителям детей и их родителей. И знаем, что это требует от нас принять их приритетные требования к жилью: детские площадки, закрытая и охраняемая территория, детский сад и школа, доступность к транспорту, доступность продуктов питания и аптек, торговые и развлекательные заведения.</div>
      <div class="primary__text_right">Вместе с этим, мы все-также будем уделять внимание качеству  нашего комплекса: удобныепланировки, панорамные окна, кирпиные стены, лифты в каждом подъезде, артезианская вода в трубопроводе, индивидуальное отопление... Мы соредоточили все свои силы и ресурсы на этой задаче, потому  уверенны, что это будет лучший жилой комплекс для детей!</div>
    </div>
    <!-- END primary__text -->
  </div>
  <!-- END wrapper -->
  <button class="primary-button js-scroll-link" href="#about-builder">О застройщике</button>
</div>
<!-- END about-complex primary -->
