<!-- BEGIN about-builder -->
<div class="about-builder">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<!-- BEGIN to-left -->
		<div class="to-left">
			<img class="about-builder__img" src="img/builder.png" alt="builder">
			<button class="about-builder__button">Документация</button>
		</div>
		<!-- END to-left -->

			<h2 class="title-h2 about-builder__title">о Застройщике</h2>

			<p class="about-builder__text" >"Max Art DG" - одна из ведущих девелоперских компаний Украины, которая осуществляет инвестиционно-строительную деятельность во всех сегментах жилой недвижимости: от доступного жилья до премиум класса.</p>
			<p class="about-builder__text" >Проекты группы компаний «Max Art DG» реализуются на территории Украины уже в течение 16 лет. Наша команда специализируется на строительстве современных жилых комплексов и коммерческих помещений, поэтому наш успех определяется большим количеством покупателей, которые благодаря нам нашли не только жилье своей мечты, но и смогли организовать свой бизнес.</p>

	</div>
	<!-- END wrapper -->
</div>
<!-- END about-builder -->