<!-- BEGIN benefits -->
<div class="benefits">
	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<h2 class="title-h2 is-black benefits__title">Преимущества</h2>

		<!-- BEGIN benefits__wrapper -->
		<div class="benefits__wrapper">

			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/locate.png" alt="locate"></div>
				<h3 class="benefit__title">Расположение</h3>
				<div class="benefit__text">Город Буча - один из самых комфортных городов Украины: близость к Киеву (27 км), отличное транспортное соединение по Варшавскому шоссе позволяет родителям “работать в Киеве и жить в Буче”.</div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/nature.png" alt="nature"></div>
				<h3 class="benefit__title">Природа</h3>
				<div class="benefit__text">Заповедные леса, зоны отдыха, санатории, спортивные базы, детские лагеря давно ассоциируют его с “зеленым курортом Киева”. Здесь не горят торфяники, нет “грязного” производства. Есть только хвойный лес, окутывающий город.</div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/arch.png" alt="arch"></div>
				<h3 class="benefit__title">Архитектура</h3>
				<div class="benefit__text">На 17 га земли будет расположено 11 домов низкой высотности (6-9 этажей). Каждый из 11 домов будет выполнен в стиле популярных городов мира: Лондон, Амстердам,.. В каждом из них будет собственный закрытый двор с зоной отдыха и тематической детской площадкой..  </div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/book.png" alt="book"></div>
				<h3 class="benefit__title">Образование и развитие</h3>
				<div class="benefit__text">Утвержден план строительства детского сада, начальной школы, стадиона, бассейна. Запланирована организация детских развивающих (спортивных, музыкальных, научных) секций. </div>
			</div>
			<!-- END benefit -->


			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/service.png" alt="service"></div>
				<h3 class="benefit__title">Сервис</h3>
				<div class="benefit__text">В рамках комплекса будет организована управляющая компания, задачей которой будет обеспечить как базовые потребности (уборка территории, охрана, ремонт, озеленение), так и Консьерж сервис - уборка квартир, поиск нянь, доставка продуктов и еды и другое.</div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/plan.png" alt="plan"></div>
				<h3 class="benefit__title">Планировки</h3>
				<div class="benefit__text">Каждый наш житель сможет создать собственное идеальное пространство. Мы постоянно работаем над улучшением стандартных планировок, и вместе с этим готовы внести правки каждого покупателя, и реализовать их о сдачи дома в эксплуатацию.</div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/quality.png" alt="quality"></div>
				<h3 class="benefit__title">Качество</h3>
				<div class="benefit__text">В каждом доме, не смотря на низкую этажность будет установлен лифт. Стены будут выполненны с качественного кирпича (толищина стен более 70 см), а панорамные окна будут реализованы и использованием дорогих стеклопакетов.</div>
			</div>
			<!-- END benefit -->
			<!-- BEGIN benefit -->
			<div class="benefit">
				<div class="benefit__icon"><img src="img/sell.png" alt="sell"></div>
				<h3 class="benefit__title">Торговый центр</h3>
				<div class="benefit__text">У въезда в комлпекс, вдоль “Варшавки” будет возведен Торговый комплекс. Вдоль центральной пешеходной алеи с фонтанами будут располагаться детские магазины, кафе, салоны красоты, игровые комнаты и др.</div>
			</div>
			<!-- END benefit -->

		</div>
		<!-- END benefits__wrapper -->
	</div>
	<!-- END wrapper -->
</div>
<!-- END benefits -->