<!-- BEGIN callback-pop-up -->
<div class="callback-pop-up js-callback-popup">
	<!-- BEGIN pop-up -->
	<div class="pop-up">
		<a class="pop-up-close js-callback-popup-close" href="#">
			<span></span><span></span>
		</a>
		<img class="pop-up__img" src="img/logo-big.png" alt="logo">
		<h3 class="pop-up__title">Заказать обратную связь</h3>
		<form class="pop-up__form" action="#" method="GET">
			<label class="pop-up__label">Имя<input class="pop-up__input" type="text" placeholder="Введите свое имя"></label>
			<label class="pop-up__label">Телефон<input class="pop-up__input" type="tel" placeholder="Введите свой телефон"></label>
			<input class="pop-up__submit js-callback-popup-submit" type="submit" name="send" value="ОТПРАВИТЬ">
		</form>
	</div>
	<!-- END pop-up -->
</div>
<!-- END callback-pop-up -->