<!-- BEGIN contacts -->
<div id="contacts" class="contacts">
	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<!-- BEGIN contacts__inner -->
		<div class="contacts__inner">
			<h2 class="title-h2 is-black">Контакты</h2>
			<div class="contacts__address">г.Буча, ул.М.Железняка,1, дорога Киев-Ковель-Ягодин, направление на Немешаево</div>
			<img class="contacts__img" src="img/pensil.png" alt="img">
			<a href="tel:0980555500" class="contacts__number">(098) 0 5555 00</a>
		</div>
		<!-- END contacts__inner -->

		<!-- BEGIN contacts__form -->
		<div class="contacts__form">
			<form class="primary__form" action="#" method="GET">
				<h4 class="primary__formhead">Остались вопросы?</h4>
				<h4 class="primary__formhead">Напишите нам</h4>
				<label class="primary__label">Имя<input class="primary__input" type="text" placeholder="Введите свое имя"></label>
				<label class="primary__label">Телефон<input class="primary__input" type="email" placeholder="Введите свой E-mail"></label>
				<label class="primary__label">Вопрос
				<textarea class="primary__input" placeholder="Ваш вопрос" name="" id="" cols="30" rows="4"></textarea></label>

				<input class="primary__submit" type="submit" name="send" value="ОТПРАВИТЬ">

			</form>
		</div>
		<!-- END contacts__form -->

	</div>
	<!-- END wrapper -->
		
		<!-- BEGIN taxi -->
		<div class="taxi">

			<h2 class="title-h2 is-black">Маршрутное такси</h2>

			<!-- BEGIN taxi__block -->
			<div class="taxi__block">
				<div class="taxi__title">« Киев- Немешаево» № 816, 817, 212</div>
				<div class="taxi__text">Маршрут: метро “Святошин” - ст.метро “Житомирская” -  ст.метро “Академгородок” - остановка “Ворзель”
				<br>(300м в сторону г.Буча)</div>
				<div class="taxi__about">Время в пути - 30 мин. </div>
			</div>
			<!-- END taxi__block -->

			<!-- BEGIN taxi__block -->
			<div class="taxi__block">
				<div class="taxi__title">«Киев — Бородянка»</div>
				<div class="taxi__text">Маршрут: станция метро «Святошин» - остановка «Ворзель» 
				<br>(300м в сторону г.Буча)</div>
				<div class="taxi__about">Время в пути - 30 мин.</div>
			</div>
			<!-- END taxi__block -->

		</div>
		<!-- END taxi -->

</div>
<!-- END contacts -->
