<!-- BEGIN galleries -->
<div class="galleries">

	<!-- BEGIN galleries__item gallery -->
	<div class="galleries__item gallery js-popup-button" data-popup="gallery">
		<img class="galleries__bg" src="img/galery-img.png" alt="galeryimg">
		<!-- BEGIN galleries__block -->
		<div class="galleries__block">
			<div class="galleries__info">
				<h3 class="title-h2 galleries__title">Галерея</h3>
				<div class="galleries__text">Перейти в галерею</div>
			</div>
		</div>
		<!-- END galleries__block -->

	</div>
	<!-- END galleries__item gallery-->

	<!-- BEGIN galleries__item videos -->
	<div class="galleries__item videos js-popup-button" data-popup="video">
		<img class="galleries__bg" src="img/video-img.png" alt="videoimg">

		<!-- BEGIN galleries__block -->
		<div class="galleries__block">
			<div class="galleries__info">
				<h3 class="title-h2 galleries__title">Видео</h3>
				<div class="galleries__text">Смотреть видео ролики</div>
			</div>
		</div>
		<!-- END galleries__block -->
	</div>
	<!-- END galleries__item videos-->

</div>
<!-- END galleries -->
