<!-- BEGIN header -->
<header class="header">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<a href="#" class="logo"><img src="img/logo.png" alt="logo" class="logo__img"></a>

		<ul class="navigation">
			<li class="navigation__item"><a href="#" class="navigation__link">О проекте </a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">Преимущества </a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">Расположение</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">планировки</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">Галерея</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">Застройщик</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
		</ul>

	</div>
	<!-- END wrapper -->

	<!-- BEGIN callback -->
	<div class="callback">
		<div class="callback__number">(098) 0 5555 00</div>
		<button class="button callback__button js-callback-trigger"><span class="talking-icon"></span>обратный звонок</button>
		{# <img class="callback__img" src="img/construction-img.png" alt="construction-img"> #}
		<div class="callback__img">
			<div class="callback__text">Ход строительства</div>
		</div>
	</div>
	<!-- END callback -->
</header>
<!-- END header -->