<!-- BEGIN header -->
<header class="header">
	<!-- BEGIN wrapper -->
	<div class="wrapper">
		<a href="#main" class="logo js-scroll-link"><img src="img/logo.png" alt="logo" class="logo__img"></a>
		

		<button class="button navigation-trigger">Меню</button>
		<ul class="navigation">
			<li class="navigation__item"><a href="#about-complex" class="navigation__link js-scroll-link">О проекте </a></li>
			<li class="navigation__item"><a href="#benefits" class="navigation__link js-scroll-link">Преимущества </a></li>
			<li class="navigation__item"><a href="#location" class="navigation__link js-scroll-link">Расположение</a></li>
			<li class="navigation__item"><a href="#apartments" class="navigation__link js-scroll-link">планировки</a></li>
			<li class="navigation__item"><a href="#galleries" class="navigation__link js-scroll-link">Галерея</a></li>
			<li class="navigation__item"><a href="#about-builder" class="navigation__link js-scroll-link">Застройщик</a></li>
			<li class="navigation__item"><a href="#contacts" class="navigation__link js-scroll-link">Контакты</a></li>
		</ul>

	</div>
	<!-- END wrapper -->
	<!-- BEGIN callback -->
	<div class="callback">
		<a href="tel:0980555500" class="callback__number">(098) 0 5555 00</a>

		<button class="button callback__button for-desktop js-popup-button" data-popup="callback">
			{{mixins.icon('talking')}}обратный звонок
		</button>
		<button class="button callback__button for-mobile  js-popup-button" data-popup="callback">{{mixins.icon('talking')}}</button>
		{# <img class="callback__img" src="img/construction-img.png" alt="construction-img"> #}
		<div class="callback__img">
			<div class="callback__text">Ход строительства</div>
		</div>
	</div>
	<!-- END callback -->
</header>
<!-- END header -->

