<!-- BEGIN main-plan -->
<div class="main-plan">
{# 	<h2 class="title-h2">генплан</h2>

	<div class="footnote">Парковка</div>
	<div class="footnote">Зона барбекю</div>
	<div class="footnote">Аллея фонтанов</div>
	<div class="footnote">Детский сад</div>
	<div class="footnote">Спортивный стадион</div>
	<div class="footnote">Школа</div>
	<div class="footnote">Торговый центр</div>

	<!-- BEGIN main-plan__sections -->
	<div class="main-plan__sections">
		<div class="sections-item">1 секция</div>
		<div class="sections-item">2 секция</div>
		<div class="sections-item">3 секция</div>
		<div class="sections-item">4 секция</div>
		<div class="sections-item">5 секция</div>
		<div class="sections-item">6 секция</div>
		<div class="sections-item">7 секция</div>
		<div class="sections-item">8 секция</div>
		<div class="sections-item">9 секция</div>
		<div class="sections-item">10 секция</div>
	</div>
	<!-- END main-plan__sections -->

	<div class="turn">1 очередь</div>
	<div class="turn">2 очередь</div>
	<div class="turn">3 очередь</div>
	<div class="turn">4 очередь</div>
	<div class="turn">5 очередь</div>
	<div class="turn">6 очередь</div> #}
	
</div>
<!-- END main-plan -->