<!-- BEGIN popup-gallery js-pop-up -->
<div id="popup-gallery" class="pop-up js-popup-gallery" data-popup="gallery">

	<!-- BEGIN pop-up__block -->
	<div class="pop-up__block">

		<h3 class="title-h2">ГАЛЕРЕЯ</h3>
		<button class="pop-up__close js-popup-close"></button>

		<div class="pop-up__slider js-popup-slider">

			<div><img src="img/galpop.png" alt="galpop"></div>
			<div><img src="http://placehold.it/1500x500" alt="galpop"></div>
			<div><img src="img/galpop.png" alt="galpop"></div>
			<div><img src="http://placehold.it/1500x500"  alt="galpop"></div>
			<div><img src="img/galpop.png" alt="galpop"></div>
			<div><img src="http://placehold.it/1500x500"  alt="galpop"></div>

		</div>

		<div class="pop-up__pagination pages">
			<a href="#" class="pages__item is-first-page">1</a>
			<span>. . .</span>
			<a href="#" class="pages__item is-previos-page">3</a>
			<a href="#" class="pages__item is-current-page is-active">4</a>
			<a href="#" class="pages__item is-next-page">5</a>
			<span>. . .</span>
			<a href="#" class="pages__item is-last-page">7</a>
		</div>
	</div>
	<!-- END pop-up__block -->
</div>
<!-- END pop-up_gallery js-pop-up -->