<!-- BEGIN transfer primary  -->
<div class="transfer primary">
	  <!-- BEGIN wrapper -->
  <div class="wrapper">
    <h2 class="title-h2">Заказать ТРАНСФЕР</h2>
    <!-- BEGIN primary__text -->
    <div class="primary__text is-little">
      <div class="primary__text_left">Команда ЖК «Forest Land» очень гостеприимно относится к каждому клиенту и поэтому мы радушно приглашаем ВСЕХ желающих посетить наш объект и отдел продаж, которые находятся в красочном и зеленом городе Буча.</div>
      <div class="primary__text_right">Для Вашего удобства, компания рекомендует Вам воспользоваться БЕСПЛАТНОЙ услугой - ЗАКАЗ ТРАНСФЕРА. Мы готовы организовать  встречу и трансфер от м. Академгородок до Лучшего места для жизни - жилого комплекса «Forest Land».</div>
    </div>
    <!-- END primary__text -->
  </div>
  <!-- END wrapper -->
  <button class="primary-button">ЗАКАЗАть</button>
</div>
<!-- END transfer primary  -->